.section-wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.section-wrapper .button-div {
    margin-bottom: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
}

table th {
    font-size: 18px;
    background-color: #b7b6b6;
    text-align: left;
    font-weight: bold;
}

table td {
    text-align: center;
    font-size: 16px;
}

input {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #999;
}

input::placeholder {
    color: #aaa;
    font-weight: lighter;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    background-color: #b7b6b6;
}

button:hover {
    background-color: #2980b9;
    color: white;
}

.apply-button {
    margin-right: 15px;
}